@import url("./normalize.css");


body {
  background-color: #fff;
  font: normal 16px 'Source Sans Pro', sans-serif, Arial;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Oswald', sans-serif;
}


/* END  */

.app-section--read-more {
  background-color: #f9f9f9;
}

#app-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.app-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-logo {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.app-logo--small {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.app-title {
  font-size: 3.25rem;
  line-height: 3.20rem;
  text-align: center;
}

.app-subtitle {
  font-size: 1.50rem;
  line-height: 1.625rem;
  font-weight: 300;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif, Arial;
}

.app-section__button,
.app-section__button--warning {
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

.app-section__button {
  background-color: #55C2D8;
  /* background-color: #0053A4; */
}

.app-section__button--warning {
  background-color: orange;
}

.app-header {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  min-height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  padding: 0 140px;
}

.app-header__logo {
  color: white;
  justify-self: flex-start;
  align-self: flex-end;
  font-size: initial;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-decoration: none;
}

.app-header__nav {
  display: inline-block;
}

.app-header__nav-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 32px;
  justify-items: center;
  padding: 0;
  margin: 55px 0 0 0;
  list-style: none;
}

.app-header__nav-list-item {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2.4px;
}

.app-header__nav-list-item a:hover {
  text-decoration: underline;
}

.app-header__nav-list-item a {
  color: white;
  text-decoration: none;
}

.app-header__nav-menu-button {
  display: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: content-box;
  color: white;
  cursor: pointer;
  font-size: 0;
  transition: all 0.25s ease-out;
  outline: none;
  padding: 6px;
  position: relative;
  user-select: none;
}

.app-header__nav-menu-button-icon {
  width: 28px;
  height: 18px;
  position: relative;
  display: inline-block;
  font-size: 0;
}

.app-header__nav-menu-button-icon span {
  background-color: white;
  position: absolute;
  border-radius: 2px;
  transition: transform .5s ease-in-out;
  width: 100%;
  height: 2px;
  left: 0;
  transform: rotate(0);
}

.app-header__nav-menu-button-icon span:nth-child(1) {
  top: 0;
}

.app-header__nav-menu-button-icon span:nth-child(2) {
  top: 8px;
  visibility: visible;
}

.app-header__nav-menu-button-icon span:nth-child(3) {
  bottom: 0;
}

/* website-section::part(sectionFirst) {
  background: linear-gradient(to top, rgba(65, 65, 65, .5), rgba(65, 65, 65, .5)), url(../assets/images/your-image-here.jpg) no-repeat center/cover;
  height: 800px;
  max-width: 100%;
  color: white;
} */

/* .app-section--image-peak {
  background: linear-gradient(to top, rgba(65, 65, 65, .5), rgba(65, 65, 65, .5)), url(../assets/images/your-image-here.jpg) no-repeat center/cover;
  height: 800px;
  max-width: 100%;
  color: white;
} */

.app-section__article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 90px;
  margin: 0 140px;
}

.app-section__button--read-more {
  display: block;
  border-radius: 26px;
  font-size: 14px;
  height: 46px;
  letter-spacing: 1.2px;
  margin: 60px auto 0px;
  text-transform: uppercase;
  width: 135px;
}

.app-section--image-culture {
  background: linear-gradient(to top, rgba(65, 65, 65, .7), rgba(65, 65, 65, .7)), url(../assets/images/your-image.jpg) no-repeat center/cover;
  height: 698px;
  max-width: 100%;
  color: white;
}

.app-section__button--our-culture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 64px auto;
  padding: 0;
  font-size: 4rem;
}

.app-footer {
  background-color: #3b3d40;
  color: white;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0 0;
  grid-template-areas: "logo logo address address . . ." ". . email email rights rights rights";
  align-items: flex-start;
  padding: 42px 140px 0;
  min-height: 148px;
}

.app-footer__logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.app-footer__address {
  grid-area: address;
  color: rgba(255, 255, 255, 0.3);
}

.app-footer__email {
  grid-area: email;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

.app-footer__rights {
  grid-area: rights;
  justify-self: flex-end;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 0.75px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .app-header {
    grid-template-columns: 1fr 1fr;
    padding: 0 32px;
  }

  .app-header__nav-menu-button {
    display: inline-block;
    justify-self: flex-end;
    align-self: flex-end;
  }

  .app-header__nav {
    display: none;
  }

  .app-section--image-peak {
    height: 648px;
  }

  .app-section--image-culture {
    height: 698px;
  }

  .app-section__button--our-culture {
    width: 70px;
    height: 70px;
    margin: 32px auto;
    font-size: 2rem;
  }

  .app-section__article {
    grid-template-columns: 1fr;
    gap: 0 0;
    margin: 0 16px;
  }

  .app-section__button--read-more {
    margin: 24px auto 48px;
  }

  .app-footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "." "logo" "." "address" "address" "email" "." "." "rights";
    align-content: center;
    justify-content: center;
    padding: 0 32px 0;
  }

  .app-footer__rights {
    justify-self: flex-start;
  }
}


/*SECTION Join our program*/

.email::placeholder {
  color: #fff;
}


/*--- Section Join Our Program ---*/
section.app-section--join-program {
  background: linear-gradient(to top, rgba(5, 17, 18, .5), rgba(5, 17, 18, .5)), url(../assets/images/section-join-program.jpg) no-repeat;
}

/* .app-logo {
  background-image: url(../assets/images/your-logo-here.png);
} */

/* Community Box */
.app-section__users {
  background-color: #fff;
  margin-bottom: 70px;
}

.app-section__users .app-title {
  margin-top: 88px;
}

.app-subtitle__users {
  width: 560px;
}

.user__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 315px;
  padding: 30px 25px;
}

.user:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.user__img {
  display: inline-block;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  background-color: rgba(220, 156, 78, 0.611);
}

.user__desc {
  font: 400 16px 'Source Sans Pro';
  text-align: center;
  line-height: 20px;
  color: #666666;
  margin-bottom: 40px;
}

.user__name {
  font: 700 12px 'Source Sans Pro';
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #464547;
}

.user__position {
  text-align: center;
  max-width: 110px;
  font: 400 12px 'Source Sans Pro';
  line-height: 16px;
  color: #666666;
}

@media only screen and (max-width: 768px) {
  .user__box {
    display: block;
    margin-top: 15px;
    max-height: 27rem;
    overflow: hidden;
  }

  .app-subtitle__users {
    width: 419px;
  }

  .user {
    padding: 30px 0;
    margin-bottom: 10rem;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.25);
  }

  .user__img {
    width: 150px;
    height: 150px;
  }
}

input[type=email] {
  display: inline-block;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  color: rgb(255, 255, 255);
  outline: none;
  width: 400px;
}

input[type=submit] {
  font: 400 14px 'Oswald', sans-serif;
  margin: 0px 30px;
  padding: 7px 18px;
  border-radius: 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
}

.form-join {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {

  .form-join {
    text-align: center;
  }

  input[type=email] {
    margin: 35px 0 0 0;
  }

  input[type=submit] {
    margin: 35px 0 0 0;
  }

}